<div class="card  mb-3 shadow-lg offset-2 " style="max-width: auto;">
    <div class="card-header bg-primary text-white">
        <h6><i class="fa fa-list"></i> &nbsp;&nbsp; Menu</h6>
    </div>
    <div class="card-body">
<div class="list-group">
    <a href="/admin_panel" class="list-group-item list-group-item-action {{admin_menu}}">
        <strong><i class="fa fa-user-circle"></i> Admin Panel</strong>
    </a>
    <a href="/referrals" class="list-group-item list-group-item-action {{referral_menu}}">
        <strong><i class="fa fa-wheelchair"></i> Referrals</strong>
    </a>
    <a href="/sub_counties" class="list-group-item list-group-item-action {{subcounty_menu}}">
        <strong><i class="fa fa-globe-europe"></i> Sub Counties</strong>
    </a>
    <a href="/health_facilities" class="list-group-item list-group-item-action {{facility_menu}}">
        <strong><i class="fa fa-hospital-alt"></i> Health Facilities</strong>
    </a>
    <a href="/medics" class="list-group-item list-group-item-action {{medic_menu}}">
        <strong><i class="fa fa-stethoscope"></i> Medical Personnel</strong>
    </a>
    <a href="/analytics" class="list-group-item list-group-item-action {{analytics_menu}}">
        <strong><i class="fa fa-chart-line"></i> Analytics</strong>
    </a>
    <a href="/users" class="list-group-item list-group-item-action {{user_menu}}">
        <strong><i class="fa fa-users"></i> Users</strong>
    </a>
</div>
</div>
</div>