{% extends 'master.html' %}
{% block body %}
<div class="container-fluid">
    <div class="content-section">
        <div class="row">
            <div class="col-sm-3">
                {% include 'sidebar.html'%}
                &nbsp;<a href="/users" class="btn btn-success ml-lg-5"><i class='fa fa-arrow-left'></i>Back</a>
            </div>
            <div class="col-sm-8">
                <div class="card  mb-3 shadow-lg" style="max-width: auto;">
                    <div class="card-header bg-primary text-white">
                        <h6><i class="fa fa-users"></i> &nbsp;&nbsp; System Users</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <a class="btn btn-success btn-sm float-right mb-2" href="/create_user"><i
                                    class="fa fa-plus"></i>New User</a>
                            <form action="" method="POST">
                                <input type="hidden" name="csrf_token" value="{{csrf_token() }}">
                                <input type="text" name="searchq" class="form-control form-control-sm"
                                    placeholder="e.g EMP001">
                                <p class="text-warning">{{error}}</p>
                            </form>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Full Names</th>
                                    <th scope="col">Email</th>

                                    <th scope="col"> Employee ID</th>
                                    <th scope="col">Hospital</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users.items %}
                                <tr>
                                    <td>{{ user.fullname }}</td>
                                    <td>{{ user.email }}</td>

                                    <td>{{ user.employee_id }}</td>
                                    <td>{{ user.user_facility.name }}</td>
                                    <td>{% if user.is_admin %} Admin {% else%} Clerk {%endif %}</td>
                                    
                                    <td><a href="/user_detail?user_id={{ user.id }}"><button type="button" class="btn btn-outline-success btn-sm">
                                            Manage</button></a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% for page_num in users.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
                {% if page_num %}
                {% if users.page==page_num %}
                <a class="btn btn-primary" href="{{ url_for('users',page=page_num)}}">{{ page_num }}</a>
                {% else %}
                <a class="btn btn-outline-primary" href="{{ url_for('users',page=page_num)}}">{{ page_num }}</a>
                {% endif %}

                {% else %}
                ....
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock %}